{% extends 'base.html' %}

{% load static %}

{% block content %}
<div id="pop-up">
    <p>-ALERT-</p>
</div>
<div class="container-center">
    <header class="main-header">
        <div id="logo">
            <img src="{% static 'favicon.ico' %}" alt="logo-image">
            <p>UNIT</p>
        </div>
        <ul id="nav-items">
            <li id="item-dashboard" class="nav-item" onclick="script.navBar.navItemClick(this)">dashboard</li>
            <li id="item-registros" class="nav-item" onclick="script.navBar.navItemClick(this)">registros</li>
            <li id="item-acessos" class="nav-item" onclick="script.navBar.navItemClick(this)">acessos</li>
        </ul>
        <div id="container-nav-right">
            <i class="bi bi-gear-fill"></i>
            <i class="bi bi-box-arrow-right" id="btn-logout" style="cursor: pointer"></i>
            <div>
                <p id="username">{{user}}</p>
                <p id="cargo">{{cargo}}</p>
            </div>
        </div>
    </header>
    <main class="container-main">
        <div id="container-registros">
            <div class="cards-info">
                <div class="card card-info" id="card-total">
                    <p class="title">total</p>
                    <h1 class="value">R$: 0.00</h1>
                    <p class="description">entradas e saídas</p>
                </div>
                <div class="card card-info" id="card-entradas">
                    <p class="title">entradas</p>
                    <h1 class="value">R$: 0.00</h1>
                    <p class="description">0 registros</p>
                </div>
                <div class="card card-info" id="card-saidas">
                    <p class="title">saídas</p>
                    <h1 class="value">R$: 0.00</h1>
                    <p class="description">0 registros</p>
                </div>
            </div>
            <div class="card-table-head">
                <h1 class="element-title">registros salvos</h1>
                <div class="icons">
                    <i class="bi bi-arrow-clockwise" id="reload-tabReg" style="font-size: 15pt;"></i>
                    <a href="#card-new-reg"><i class="bi bi-plus" style="font-size: 25pt;"></i></a>
                    <!-- <i class="bi bi-pencil" style="font-size: 10pt;"></i> -->
                    <select name="select-typeRegistro" id="select-typeRegistro" title="tipo de registro">
                        <option value="entradas">entradas</option>
                        <option value="saidas">saídas</option>
                    </select>
                </div>
            </div>
            <table class="card-table" id="table-reg" cellspacing="0">
                <thead class="card-table-thead">
                    <td></td>
                    <td>categoria</td>
                    <td>data pagamento</td>
                    <td>valor (R$)</td>
                    <td>descrição</td>
                    <td></td>
                </thead>
                <tbody id="table-reg-body">
                    <tr><td></td><td>OUTROS</td><td>23/10/2023</td><td>12,00</td><td>descrição do registro</td><td><i class="bi bi-trash"></i></td></tr>
                </tbody>
                <tfoot>
                    <td colspan="99">
                        <i class="bi bi-arrow-left-short"></i>
                        1 a 10
                        <i class="bi bi-arrow-right-short"></i>
                    </td>
                </tfoot>
            </table>
            <div class="card" id="card-new-reg">
                <h1 class="element-title">novo registro</h1>
                <form action="javascript: script.reg.newReg();" method="post" id="form-reg" class="card-form">
                    {% csrf_token %}
                    <select name="typeRegistro" id="id_typeRegistro" title="tipo de registro">
                        <option value="entradas">entradas</option>
                        <option value="saidas">saídas</option>
                    </select>
                    <select name="categoria" id="id_categoria" title="categoria">
                        <option value="outros">OUTROS</option>
                        <option value="creche">CARTÃO CRECHE</option>
                    </select>
                    <!-- <input type="text" name="categoria" required id="id_categoria" placeholder="categoria"> -->
                    <input type="date" name="data" id="id_data" placeholder="data de pagamento">
                    <input type="number" step="0.01" min="0.01" name="valor" id="id_valor" placeholder="valor">
                    <input type="text" name="descricao" id="id_descricao" placeholder="descrição">
                <input type="submit" value="salvar">
                </form>
            </div>
        </div>
        <div id="container-acessos">
            <div class="card" id="card-cad-user">
                <h1 class="element-title">cadastrar usuário</h1>
                <!-- <form id="form-cadastrar"> -->
                <form id="form-cadastrar" class="card-form" action="javascript: script.acessos.cadastrarUsuario();">
                    {% csrf_token %}
                    <table class="card-element">
                        <tr><td colspan="2">
                            <select title="nível de acesso" name="acesso" class="table-input table-input-text">
                                {% for acesso in acessos %}
                                <option>{{acesso}}</option>
                                {% endfor %}
                            </select>
                        </td></tr>
                        <tr><td colspan="2"><input placeholder="*cargo" id="in-cargo" required type="text" name="cargo" maxlength="100"></td></tr>
                        <tr><td colspan="2"><input title="nome completo" required placeholder="*nome completo" id="in-fullname" type="text" name="fullname" maxlength="100"></td></tr>
                        <tr>
                            <td><input title="senha" placeholder="*senha" type="password" id="in-password" required name="password" maxlength="100"></td>
                            <td><input title="confirmação da senha" placeholder="*senha (confirmação)" required type="password" id="in-password-confirm" name="password-confirm" maxlength="100"></td>
                        </tr>
                        <tr><td colspan="2"><input title="nome de usuário" placeholder="*nome de usuário" required type="text" id="in-username" name="username"  maxlength="100"></td></tr>
                        <tr><td colspan="2"><input title="CPF" placeholder="CPF" type="number" id="in-cpf" name="cpf" maxlength="11" placeholder="12345678901"></td></tr>
                        <tr><td colspan="2"><input title="e-mail" placeholder="e-mail" type="text" id="in-email" name="email" maxlength="30"></td></tr>
                        <tr><td colspan="2"><input title="telefone" placeholder="telefone" type="number" id="in-telefone" name="telefone" placeholder="61912345678" maxlength="11"></td></tr>
                        <tr><td colspan="2"><input title="data de nascimento" type="date" id="in-nascimento" name="nascimento"></td></tr>
                        <tr><td colspan="2"><input type="submit" value="cadastrar" id="form-cadastrar-btn-submit"></td></tr>
                    </table>
                </form>
            </div>
            <div class="card" id="card-editar-user">
                <h1 class="element-title">editar usuário</h1>
                <form id="form-editar-cad" class="card-form" action="javascript: script.acessos.editarUsuarioForm();">
                    {% csrf_token %}
                    <table class="card-element">
                        <tr><td colspan="2">
                            <select title="nível de acesso" required name="acesso">
                                {% for acesso in acessos %}
                                <option>{{acesso}}</option>
                                {% endfor %}
                            </select>
                        </td></tr>
                        <tr><td colspan="2"><input placeholder="*cargo" type="text" name="cargo" required maxlength="100"></td></tr>
                        <tr><td colspan="2"><input title="nome completo" placeholder="*nome completo" required type="text" name="fullname" maxlength="100"></td></tr>
                        <tr>
                            <td><input title="senha" placeholder="*senha" type="password" name="password" maxlength="100"></td>
                            <td><input title="confirmação da senha" placeholder="*senha (confirmação)" type="password" name="password-confirm" maxlength="100"></td>
                        </tr>
                        <tr><td colspan="2"><input title="nome de usuário" placeholder="*nome de usuário" required type="text" name="username"  maxlength="100"></td></tr>
                        <tr><td colspan="2"><input title="CPF" placeholder="CPF" type="number" name="cpf" maxlength="11" placeholder="12345678901"></td></tr>
                        <tr><td colspan="2"><input title="e-mail" placeholder="e-mail" type="text" name="email" maxlength="30"></td></tr>
                        <tr><td colspan="2"><input title="telefone" placeholder="telefone" type="number" name="telefone" placeholder="61912345678" maxlength="11"></td></tr>
                        <tr><td colspan="2"><input title="data de nascimento" type="date" name="nascimento"></td></tr>
                        <tr><td><input type="submit" value="editar" id="form-editar-cad-btn-submit"></td><td><input type="button" value="cancelar" class="btn-cancelar"></td></tr>
                    </table>
                </form>
            </div>
            <div class="card-table-head">
                <h1 class="element-title">usuários cadastrados</h1>
                <div class="icons">
                    <i class="bi bi-arrow-clockwise" id="reload-tabCad" style="font-size: 15pt;"></i>
                </div>
            </div>
            <table class="card-table card-cadastrados" id="table-cad" cellspacing="0">
                <thead class="card-table-thead">
                    <td></td>
                    <td>nome</td>
                    <td>cargo</td>
                    <td>acesso</td>
                    <td>usuário</td>
                    <td>e-mail</td>
                    <td></td>
                </thead>
                <tbody id="table-cad-body">
                    <!-- inserido via JS -->
                    <tr> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td><i class="bi bi-trash"></i></td> </tr>
                </tbody>
                <tfoot>
                    <td colspan="99">
                        <i class="bi bi-arrow-left-short"></i>
                        1 a 10
                        <i class="bi bi-arrow-right-short"></i>
                    </td>
                </tfoot>
            </table>
        </div>
    </main>
</div>
{% endblock %}
