/* inspiration https://dribbble.com/shots/22778164-Banking-Web-App-Design-Concept */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
@import url('./main-header.css');
@import url('./container-acessos.css');
@import url('./container-registros.css');

:root {
    --font-color: #1f1f1f;
    --secondary-font-color: #616161;
    --border-color: #b1b1b1;
    --background-page-color: #ffffff;
    --background-element-color: #fff;
    --primary-color: #2c55d4;
    --width-border: 15px;
    --background-color-hover: #1e398b;
    --card-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.281);
    --card-box-radius: 20px;
}

* {
    font-family: 'Libre Franklin', sans-serif;
    color: var(--font-color);
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--background-page-color);
}

.container-center {
    padding: var(--width-border);
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

#pop-up {
    position: fixed;
    top: 20px;
    text-align: center;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#pop-up p {
    color: white;
    background-color: rgb(38, 26, 104);
    padding: 10px 20px;
    border-radius: 10px;
}
/*-container-main---------------------------------------*/
.container-main {
    margin-top: var(--width-border);
    width: 100%;
}
/*-container-main---------------------------------------*/
.card-table-head, .card-table-head .element-title, .card-table-head .icons {
    display: flex;
    align-items: center;
}

.card-table-head .element-title {
    padding: 0;
}

.card-table-head {
    width: 100%;
    justify-content: space-between;
    padding: 5px;
}

.card {
    margin-top: var(--width-border);
    margin-bottom: 20px;
    background-color: var(--background-element-color);
    padding: 10px;
    border-radius: var(--card-box-radius);
    box-shadow: var(--card-box-shadow);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition-duration: .2s;
}

.card:hover {
    transform: scale(1.01);
}

.card .card-element {
    width: 100%;
}

.element-title {
    font-size: 12pt;
    font-weight: 400;
    padding-bottom: 10px;
}

.cards-info {
    display: flex;
    justify-content: space-between;
}

.card-info .description {
    color: var(--secondary-font-color);
    font-size: 11pt;
}

/* tabelas */
.bi {
    cursor: pointer;
}

.card-table {
    border: none;
    border-radius: var(--card-box-radius);
    box-shadow: var(--card-box-shadow);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow: hidden;
    transition-duration: .2s;
    margin-bottom: 20px;
}

.card-table:hover {
    transform: scale(1.01);
}

.card-table td {
    padding: 5px;
}

.card-table-thead {
    background-color: rgb(221, 221, 221);
}

.card-table tfoot {
    font-size: 10pt;
}

.card-table tfoot i {
    font-size: 15px;
}

/* - */
/* formulários */
.card-form input, .card-form select {
    width: 100%;
    padding: 20px 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition-duration: .2s;
}

.card-form input:hover, .card-form select:hover {
    background-color: #e6e6e6;
}

.card-form input[type="submit"], .card-form input[type="button"] {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 0;
}

.card-form input[type="submit"]:hover, .card-form input[type="button"]:hover {
    background-color: var(--background-color-hover);
}
/* - */