/* inspiration https://dribbble.com/shots/22778164-Banking-Web-App-Design-Concept */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --font-color: #1f1f1f;
    --secondary-font-color: #919191;
    --background-page-color: #fff;
    --background-element-color: #e9e9f5;
    --primary-color: #2c55d4;
    --width-border: 15px;
}

* {
    font-family: 'Lato', sans-serif;
    color: var(--font-color);
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--background-page-color);
}

.container-center {
    padding: var(--width-border);
    height: 100vh;
    width: 100vw;
}

/*-main-header------------------------------------------*/
.main-header {
    border-bottom: 1px solid rgb(228, 228, 228);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: var(--width-border);
}

#logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75px;
    font-weight: 1000;
}

#logo img {
    width: 30px;
}

.main-header ul {
    list-style: none;
    display: flex;
    width: inherit;
    background-color: var(--background-element-color);
    padding: 3px;
    border-radius: 20px;
    font-size: 11pt;
}

.nav-item {
    padding: 10px 20px;
    color: var(--font-color);
    border-radius: 20px;
    transition-duration: .5s;
    cursor: pointer;
}

#container-nav-right {
    display: flex;
    align-items: center;
}

#btn-logout {
    font-size: 25px;
    margin-right: 10px;
}

#username {
    font-weight: 1000;
}

#cargo {
    color: var(--secondary-font-color);
    font-size: 10pt;
}

/*-main-header------------------------------------------*/
/*-container-main---------------------------------------*/
.container-main {
    margin-top: var(--width-border);
}
/*-container-main---------------------------------------*/
/*-container-acessos------------------------------------*/
/* inspiration https://dribbble.com/shots/18777195--DailyUI-Tela-de-Cadastro-para-plano-de-sa-de */
.cadastrar-usuario {
    background-color: var(--background-element-color);
    padding: 10px;
    width: fit-content;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 800px; */
}

.cadastrar-usuario h1 {
    font-size: 13pt;
}

.container-acessos .td-item {
    column-span: 2;
}
/*-container-acessos------------------------------------*/