/* inspiration https://dribbble.com/shots/18777195--DailyUI-Tela-de-Cadastro-para-plano-de-sa-de */
/* #container-acessos {
     display: flex;
    justify-content: center;
    flex-direction: column; 
} */

#container-acessos {
    padding-bottom: var(--width-border);
}

.element-title {
    font-size: 11pt;
}

#container-acessos .card {
    margin-top: var(--width-border);
    /* margin-top: 5px; */
    background-color: var(--background-element-color);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.281);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition-duration: .2s;
}
#container-acessos .card:hover {
    /* transform: translateY(-5px); */
    transform: scale(1.01);
}
#container-acessos .card h1 {
    padding-bottom: 10px;
    font-weight: 400;
}

#container-acessos .card-cad-user {
    width: 90%;
    /* margin-left: auto;
    margin-right: auto; */
    margin-left: 5%;
    margin-right: 5%;
}

#container-acessos .card .card-element {
    width: 100%;
}

#container-acessos .table-input {
    transition-duration: .2s;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
}

#container-acessos .table-input-text {
    /* background-color: var(--background-page-color); */
    border: 1px solid #c4c4c4;;
    padding: 15px 5px;
}

#container-acessos .table-input-text:hover {
    background-color: #f0f0f0;
}

#container-acessos .table-input-text:focus {
    background-color: #f0f0f0;
    border: none;
}

#form-cadastrar-btn-submit {
    padding: 10px 0;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
}

#form-cadastrar-btn-submit:hover {
    background-color: var(--background-color-hover);
}

#tab-cadastrados tr {
    text-align: center;
}

#tab-cadastrados tr:hover * {
    transition-duration: .2s;
    background-color: var(--primary-color);
    color: white;
}

#container-acessos .card-cadastrados {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}