.main-header {
    border-bottom: 1px solid rgb(141 141 141);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: var(--width-border);
}

#logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75px;
    font-weight: 1000;
}

#logo img {
    width: 30px;
}

.main-header ul {
    list-style: none;
    display: flex;
    width: inherit;
    background-color: var(--background-element-color);
    padding: 3px;
    border-radius: 20px;
    font-size: 11pt;
}

.nav-item {
    padding: 10px 20px;
    color: var(--font-color);
    border-radius: 20px;
    transition-duration: .5s;
    cursor: pointer;
}

#container-nav-right {
    display: flex;
    align-items: center;
}

#container-nav-right i {
    font-size: 25px;
    margin-right: 10px;
}

#username {
    font-weight: 1000;
}

#cargo {
    color: var(--secondary-font-color);
    font-size: 10pt;
}