{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'login/css/data-extraction-styles.css' %}" type="text/css">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{% static 'login/js/script.js' %}"></script>
    
    <title>Unit - Login</title>
</head>
<body>
    <div id="pop-up">
        <p>-ALERT-</p>
    </div>
    <div class="container-left">
        <form id="form" class="container-login" action="" method="POST">{% csrf_token %}
            <h1>UNIT</h1>
            <input class="input-texto" type="text" name="user" placeholder="usuário">
            <input class="input-texto" type="password" name="password" placeholder="senha">
            <div class="container-checkbox">
                <input class="input-checkbox" type="checkbox" name="remember" id="remember">
                <label class="texto-checkbox" for="remember">lembrar de mim</label>
            </div>
            <input class="btn-login" type="submit" value="login">
        </form>
    </div>
    <div class="container-right">
        <img src="{% static 'login/img/data-extraction-animate.svg' %}">
    </div>
</body>
</html>